* {
  box-sizing: border-box;
}

body {
  /*max-width: 1400px;*/
}

body h1 {
  font-family: 'Chivo', sans-serif;
  font-size: 2.2rem;
}

body h2 {
  font-family: 'Chivo', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
}

body h3 {
  font-family: 'Chivo', sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  margin-left: 15%;
}

body p {
  font-family: 'Overpass', sans-serif;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-right: 15%;
  margin-left: 15%;
}

.list {
  font-family: 'Overpass', sans-serif;
  font-size: 1.6rem;
  margin-right: 15%;
  margin-left: 15%;
  line-height: 2.5rem;
}

@media screen and (max-width: 575px) {
  body p {
    font-size: 1.2rem;
  }
  .list {
    font-size: 1.2rem;
  }
}

body nav {
  color: #AE60C2;
  font-family: 'Chivo', sans-serif;
  font-size: 1rem;
}

.master-container {
  display: grid;
  grid-template-areas: "hero" "introduction" "research" "people" "other-guys" "architecture" "user-flows" "design" "color-type" "wireframes" "testing" "learning";
}

/* hero */

.navbar a:link {
  color: #AE60C2;
  float: right;
  text-decoration: none;
}

@media screen and (max-width: 575px) {
  .navbar {
    justify-content: center;
  }
}

.featured {
  background-color: #AE60C2;
  color: #FFFFFF;
  width: 100%;
}

.connect-links a:link {
  color: #AE60C2;
}

.laptop-col {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.laptop-image {
  width: 90%;
  margin: auto;
}

.button-2 {
  background-color: transparent;
  border: 3px solid #AE60C2;
  border-radius: 80px;
  color: #AE60C2;
  font-weight: 300;
  font-family: 'Chivo', sans-serif;
  font-size: 1.6rem;
  height: 3rem;
  margin: auto;
  padding: 10px 18px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}

.navbar {
  flex-direction: row-reverse;
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}

.navbar li:last-child {
  margin-right: auto;
}

.personal-logo {
  margin: 1rem;
  width: 100px;
  float: left;
}

@media screen and (max-width: 575px) {
  .personal-logo {
    width: 75px;
  }
}

.item {
  height: 5rem;
  line-height: 5rem;
  padding: 1rem;
}

.project-slogan {
  font-family: 'Chivo', sans-serif;
  font-style: bold;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: auto;
  margin-bottom: auto;
  flex-basis: 50%;
}

.project-title {
  color: #048A81;
}

.hero {
  background-color: #008695;
  color: white;
  display: flex;
  font-family: 'Chivo', sans-serif;
  flex-direction: row;
  grid-area: hero;
  height: 33rem;
}

@media screen and (max-width: 575px) {
  .hero {
    flex-direction: column;
    margin: auto;
    height: auto;
  }
  .laptop-image {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .flow-image {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .sitemap-image {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .laptop-col {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
  }
  .logo-image {
    width: 70%;
  }
  .sketches {
    width: 70%;
  }
  .project-slogan {
    font-size: 1.2rem;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    flex-basis: 100%;
  }
  .item {
    float: left;
  }
}

/* introduction */

.introduction {
  display: flex;
  flex-direction: column;
  grid-area: introduction;
  padding-top: 5rem;
  align-items: center;
}

.intro-content {
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (max-width: 575px) {
  .intro-content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* research */

.research {
  display: flex;
  flex-direction: column;
  grid-area: research;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.research-content {
  margin-left: 15%;
  margin-right: 15%;
}

@media screen and (min-width: 575px) {
  .research {
    margin: auto;
  }
  .research-content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* other-guys */

.other-guys {
  display: flex;
  flex-direction: column;
  grid-area: other-guys;
  padding-top: 5rem;
}

.other-guys-text {
  margin-right: 15%;
  margin-left: 15%;
  padding-bottom: 2rem;
}

.component {
  margin: auto;
}

@media screen and (min-width: 575px) {
  .research {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* personas */

.people {
  background-color: rgba(4, 138, 129, .21);
  grid-area: people;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
}

.people-text {
  margin-right: 15%;
  margin-left: 15%;
}

.persona-text {
  margin-right: 15%;
  margin-left: 15%;
}

.people {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.persona-img {
  margin: auto;
}

.demographics {
  text-align: center;
}

.quote {
  text-align: center;
}

@media screen and (max-width: 575px) {
  .demographics {
    font-size: 1rem;
  }
}

/* architecture */

.architecture {
  background-color: rgba(175, 101, 194, .5);
  display: flex;
  flex-direction: column;
  grid-area: architecture;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.architecture-text {
  margin-right: 15%;
  margin-left: 15%;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

@media screen and (max-width: 575px) {
  .architecture-text {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* user-flows */

.user-flows {
  display: flex;
  flex-direction: column;
  grid-area: user-flows;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.user-flows-content {
  margin-left: 15%;
  margin-right: 15%;
}

.flows {
  margin: auto;
  padding-top: 2rem;
  padding-bottom: 5rem;
}

.sitemap {
  margin: auto;
  padding-top: 5rem;
}

@media screen and (max-width: 575px) {
  .user-flows-content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* design */

.design {
  background-color: display: flex;
  flex-direction: column;
  grid-area: design;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.design-content {
  margin-left: 15%;
  margin-right: 15%;
}

.color-type {
  grid-area: color-type;
}

.logo-row {
  display: flex;
  flex-direction: row;
}

.logo2 {
  flex-basis: 50%;
  margin: auto;
}

.logo-image {
  display: block;
  margin: auto;
}

.logo1 {
  flex-basis: 50%;
  margin: auto;
}

.sketches {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-bottom: 5rem;
}

.colors {
  margin-left: 15%;
  margin-right: 2%;
}

.hex-codes {
  display: flex;
  flex-direction: row;
}

.list2 {
  font-family: 'Overpass', sans-serif;
  font-size: 1.4rem;
  line-height: 2.5rem;
}

.typography {
  margin-left: 15%;
  margin-right: 15%;
  width: 10px;
}

.oswald {
  width: 25rem;
}

.droid {
  width: 20rem;
}

@media screen and (max-width: 575px) {
  .list2 {
    font-size: 1.2rem;
  }
  .oswald {
    width: 15rem;
  }
  .droid {
    width: 10rem;
  }
  .design-content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* wireframes */

.screenshot {
  padding-bottom: 2rem;
  padding-top: 2rem;
  margin: auto;
  display: block;
  width: 512px;
}

.wireframe-text {
  margin-bottom: 2rem;
}

@media screen and (max-width: 575px) {
  .screenshot {
    width: 300px;
  }
  .wireframe-text {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* testing */

.testing {
  background-color: rgba(4, 138, 129, .21);
  display: flex;
  flex-direction: column;
  grid-area: testing;
  padding-top: 5rem;
  padding-bottom: 5rem;
  width: 100%;
}

.testing-text {
  margin-right: 1;
  margin-left: 15%;
}

.version {
  margin: auto;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: block;
  width: 512px;
}

@media screen and (max-width: 575px) {
  .version {
    width: 300px;
  }
  .testing-text {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* learning */

body footer {
  font-family: 'Chivo', sans-serif;
  font-size: .8rem;
  font-weight: bold;
  color: #048A81
}

.flex-item a:link {
  height: 5rem;
  line-height: 5rem;
  padding: 1rem;
  color: #AE60C2;
  text-decoration: none;
}

.footer-content {
  height: 5rem;
  margin: auto;
  padding-top: 2.5rem;
  text-align: center;
}

.center {
  justify-content: center;
}

.learning {
  display: flex;
  flex-direction: column;
  grid-area: learning;
  padding-top: 5rem;
  margin: auto;
}

.learning-text {
  padding-bottom: 2rem;
}

.flex-container {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 414px) {
  .flex-item a:link {
    padding: .5rem;
  }
  .learning-text {
    margin-left: 10%;
    margin-right: 10%;
  }
}
