* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Chivo', sans-serif;
}

h1 {
  font-family: 'Chivo', sans-serif;
  font-weight: bold;
}

body h2 {
font-family: 'Chivo', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
}

body h3 {
  font-size: 1.6rem;
}

body p {
  font-family: 'Overpass', sans-serif;
  font-size: 1.6rem;
  line-height: 2rem;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  flex-direction: flex-start;
  list-style: none;
  margin-top: 2.5rem;
  margin-right: 3rem;
  text-decoration: none;
  text-align: center;
}

.personal-logo{
  margin: 1rem;
  width: 100px;
}

@media screen and (max-width: 575px) {
  .personal-logo {
    width: 75px;
  }
}

.navbar li:first-child {
  margin-right: auto;
}

.navbar a {
  color: #AE60C2;
  display: block;
  font-family: 'Chivo', sans-serif;
  font-size: 1rem;
  margin: 1rem;
  padding-right: 3rem;
  text-decoration: none;
  text-transform: uppercase;
}

.hero {
   display: flex;
   flex-direction: column;
   align-items: left;
   justify-content: center;
   padding:10rem;
   width: 100%;
}

.hero h1{
  color: #048A81;
  font-family: 'Chivo', sans-serif;
  font-size: 5.6rem;
  font-weight: 700;
  /* line-height: 10vw; */
}

.hero span{
  color:#7bb7b2;
}

.slogan{
  color: #000000;
  font-family: 'Chivo', sans-serif;
  padding-top:3rem;
}

@media screen and (max-width: 575px) {
  .slogan {
font-size: 1.2rem;
  }

  .hero h1 {
font-size: 3.6rem;
  }
}

.introduction {
  margin-left: 5rem;
  margin-bottom: 15%;
}
.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #048A81;
  margin: auto;
  padding-bottom: 4rem;
}

.featured-wrapper {
  background-color: #AE60C2;
  color: #FFFFFF;
  display: flex;
}

@media screen and (max-width: 575px) {
  .featured-wrapper {
    flex-direction: column;
    margin: auto;
    height:auto;
  }
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding:5rem;
}

.splendid-space{
  width: 80%;
}

.featured-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-weight: bold;
}
.featured-text {
  line-height: 2rem;
}
.featured-text span{
  font-weight: 700;
}

.button {
  background-color: transparent;
  border: .2rem solid #fff;
  border-radius: 5rem;
  color: #fff;
  font-family: 'Chivo', sans-serif;
  font-size: 1.6rem;
  font-weight: 300;
  margin-top: 2rem;
  padding: 1rem;
  width: 20rem;
  height: 4rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
}

.footer {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 5rem;
  margin-top: 2.5rem;
  width:100%;
}
.footer h3 {
  flex-direction: row;
  font-family: 'Chivo', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom:2rem;
  color: #048A81
}

.footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom:2rem;
  width:100%;
}

.footer li {
  list-style: none;
  text-align: center;
  padding-right:2rem;
}

.footer a {
  color: #AE60C2;
  font-family: 'Chivo', sans-serif;
  font-size: .8rem;
  text-decoration: none;
}
