* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Chivo', sans-serif;
}

h1 {
  font-family: 'Chivo', sans-serif;
  font-weight: bold;
}

body h2 {
  font-family: 'Chivo', sans-serif;
  font-size: 1.8rem;
  font-weight: bold;
  color: #048A81;
}

body h3 {
  font-size: 1.6rem;
  color: #2d2b2d;
}

body p {
  font-family: 'Overpass', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #2d2b2d;
}

b, strong {
font-weight: 700;
font-style: normal;
}

/* homepage */

.container {
  display: flex;
  flex-direction: column;
}

.personal-logo {
  margin: 1rem;
  margin-left: 10rem;
  width: 100px;
}

@media screen and (max-width: 575px) {
  .personal-logo {
    width: 75px;
  }
}

.laptop-col {
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
}

.laptop-image {
  width: 80%;
  margin-left: 15%;
  margin-bottom: 5%;

}

@media screen and (max-width: 575px) {
  .laptop-image {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
  }

  .laptop-col {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 1092px and min-width: 575px;) {

.laptop-col{
margin: auto;
padding-bottom: 5rem;
}

}

/* new */

.navbar a:link {
  color: #AE60C2;
  text-decoration: none;
}

@media screen and (max-width: 575px) {
  .navbar {
    justify-content: center;
  }
}

.navbar li:last-child {
  margin-right: auto;
}

.navbar li:first-child {
  margin-right: 10rem;
}

.navbar {
  flex-direction: row-reverse;
  display: flex;
  padding: 0;
  list-style: none;
  position: fixed;
  background-color: #FFF;
  opacity: 0.9;
  width: 100%;
}

.navbar a {
  color: #AE60C2;
  font-family: 'Chivo', sans-serif;
  font-size: 1.6rem;
}

.navbar a:hover {
color: #048A81;
}

body nav {
  color: #AE60C2;
  font-family: 'Chivo', sans-serif;
  font-size: 1rem;
}

.hero1 {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-left: 10rem;
  padding-top: 15rem;
  padding-right: 10rem;
  width: 100%;
  background-color: #F0E2F3;
}

.hero1 h1 {
  color: #3B7D75;
  font-family: 'Chivo', sans-serif;
  font-size: 17rem;
  font-weight: 700;
}

.hero1 span {
  color: #438E89;
}

.slogan1 {
  color: #2d2b2d;
  font-family: 'Chivo', sans-serif;
  font-size: 4rem;
  padding-top: 3rem;
  line-height: 1.2;
}

@media screen and (max-width: 575px) {
  .slogan1 {
    font-size: 2.4rem;
  }
  .hero1 {
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 5rem;
  }

  .hero1 h1 {
    font-size: 8rem;
    margin-top: 6rem;
  }

}

@-webkit-keyframes downarrow {
  0% { -webkit-transform: translateY(0); opacity: 0.4 }
  100% { -webkit-transform: translateY(0.4em); opacity: 0.9 }
}

.arrow {
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #048A81;
  border-style:solid;
  border-width:0 3em;
  display:block;
  height:0;
  margin:10em auto;
  opacity:0.4;
  text-indent:-9999px;
  transform-origin: 50% 50%;
  width:0;
}

.down {
  -webkit-animation: downarrow 0.6s infinite alternate ease-in-out;
  border-top:3em solid #048A81;
}

.featured-wrapper {
  color: black;
  display: flex;
  flex-direction: row;
  background-color: #F0E2F3;
}

@media screen and (max-width: 575px) {
  .featured-wrapper {
    flex-direction: column;
    margin: auto;
    height: auto;
  }

.arrow-down {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #048A81;
}


}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding: 5rem;
  background-color: #f8eaf9;
  grid-area: 1/2/1/6
  min-height: 100%;
  padding: 7.2rem 6.4vw;
  margin-right: 10%;
  margin-bottom: 10%;
}

.splendid-space {
  width: 80%;
}

.featured-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  font-size: 2.8rem;
  font-weight: bold;
  color: #2d2b2d;;
}

.featured-text {
  font-size: 2rem;
  line-height: 1.5;
}

.featured-text span {
  font-weight: 700;
}

@media screen and (max-width: 575px) {
  .featured-text {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1090px) {

  .column {
    margin-left: 10%;
  }

}

@media screen and (max-width: 575px) {
  .featured-header {
    font-size: 2rem;
  }
}

.button {
  background-color: transparent;
  border: .3rem solid #048A81;
  border-radius: 5rem;
  color: #048A81;
  font-family: 'Chivo', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 2rem;
  padding: 1rem;
  width: 20rem;
  height: 4rem;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  align-content: center;
  display: block;
  margin: auto;
  margin-top: 5%;
}

.button:hover {
  background-image:none;
  background-color:#048A81;
  color: #FFF;
  }

  @media screen and (max-width: 575px) {
    .button {
      font-size: 1.4rem;
      width: 16rem;
    }
  }


.hero span {
  color: #438E89;
}

.slogan {
  color: #000000;
  font-family: 'Chivo', sans-serif;
  padding-top: 3rem;
  font-size: 2.4rem;
  line-height: 1.5;
}

@media screen and (max-width: 575px) {
  .slogan {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .hero h1 {
    font-size: 3.6rem;
  }
}

.introduction {
  margin-left: 5rem;
  margin-bottom: 15%;
}

/* bio */

header {
  background: url(/images/IMG_5260.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

.item {
  height: 5rem;
  line-height: 5rem;
  padding: 1rem;
  font-style: 'Chivo';
}

.slogan {
  color: #FFF;
  text-align: left;
  margin-left: 27%;
  margin-right: 27%;
  padding-top: 15%;
  line-height: 1.2;
}

.biography {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
}

.slogan span {
color: #d5edeb;
}

@media screen and (max-width: 575px) {
  body p {
    font-size: 1.4rem;
  }

  header {
  height: 40vh;
  }
}

body footer {
  font-family: 'Chivo';
  font-size: 2rem;
  font-weight: bold;
  color: #048A81
}

.flex-item a:link {
  height: 5rem;
  line-height: 5rem;
  padding: 1rem;
  color: #AE60C2;
  text-decoration: none;
}

.flex-item a:hover {
color: #048A81;
}

.footer-content {
  height: 5rem;
  margin: auto;
  padding-top: 2.5rem;
  text-align: center;
}

.center {
  justify-content: center;
}

.learning {
  display: flex;
  flex-direction: column;
  grid-area: learning;
  padding-top: 5rem;
  margin: auto;
}

.learning-text {
  padding-bottom: 2rem;
}

.flex-container {
  display: flex;
  padding: 0;
  list-style: none;
  margin: 0;
}
